main {
  padding: 0 40px;
}

main h1 {
  font-family: 'Caveat', cursive;
  color: #a88fca;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0px;
}

main p {
  margin: 0 auto 30px;
}

main img {
  box-shadow: 0px 2px 5px #808080;
}

main img:hover {
  box-shadow: 0px 2px 15px #808080;
}

@media (min-width: 768px) {
  main h1 {
    padding: 30px;
  }
  main p {
    width: 75%;
  }
}